# Mac
._*
.DS_Store
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Eclipse
.buildpath
.classpath
*.launch
.loadpath
.metadata
.project
*.pydevproject
.settings/
.springBeans

# Intellij
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

# Node
/**/node/
/**/node_modules/

# SASS
/**/.sass-cache/

# Bower
/**/vendor/

# Maven
log/
target/

# Package Files
*.jar
*.war
*.ear

# Java
*.class

# Directories
/build/
/bin/
/out/
/deploy/

# Logs
*.log
